<div class="bg-gray">
    <div class="max-w-screen-xl mx-auto flex justify-center md:justify-start py-10 px-4 text-white flex-col">
        <div class="flex flex-col items-center justify-between md:flex-row md:items-end">
            <img class="logo" src="https://i.imgur.com/vQSEyLk.png" alt="diasdedev.imgur"/>
            <a href="#nav-bar" class="hover:text-blue-ocean">Return to home ↑</a>
        </div>
        <div class="border-t border-gray-light my-4"></div>
        <div class="flex items-center justify-between">
            <span>2024</span>
            <span>Developed by <a class="text-blue-ocean" href="https://github.com/Matheuscara">Matheus Dias</a></span>
        </div>
    </div>
</div>