<section class="bg-gray">
  <div class="flex max-w-screen-xl mx-auto justify-center pt-5 flex-col px-4">
    <div class="pb-5 items-end gap-4 block md:flex">
      <h2 class="text-3xl font-semibold">Localizations</h2>
      <button
        *ngIf="seeAll()"
        (click)="redirectLocalization()"
        class="text-blue-ocean"
      >
        See all ->
      </button>
    </div>
    <div class="flex flex-wrap flex-row justify-center gap-4">
      @for(localization of localizationSlice; track localization.name) {
      <article
        data-cy="card-locations"
        class="bg-gray-light gap-1 flex flex-col justify-center items-center text-white rounded-md font-extralight w-52 py-5 px-2"
      >
        <img
          class="w-20 pb-2"
          src="https://i.imgur.com/GmtIDIW.png"
          alt="diasdedev.imgur"
        />

        <p class="text-zinc-500 truncate w-full block">
          Name:
          <!-- TODO - IMPLEMENT ON KEY -->
          <span
            (click)="redirectToLocalization(localization.id)"
            class="text-blue-ocean hover:cursor-pointer"
            >{{ localization.name }}</span
          >
        </p>
        <p class="text-zinc-500 truncate w-full block">
          Type:
          <span class="text-blue-ocean">{{ localization.type }}</span>
        </p>

        <p class="text-zinc-500 truncate w-full block">
          Dimension:
          <span class="text-blue-ocean">{{ localization.dimension }}</span>
        </p>
      </article>
      }
    </div>
  </div>
</section>
