<section class="bg-black">
  <div
    class="flex gap-16 max-w-screen-xl mx-auto justify-center pt-16 flex-col md:flex-row px-4"
  >
    <div class="w-full flex flex-col">
      <div class="mb-16">
        <h3 class="text-6xl font-semibold pb-8 md:pb-4">
          Find out everything <br />
          in one <span class="text-blue-ocean">place.</span>
        </h3>
        <h4 class="text-lg">Characters. locations, episodes and more.</h4>
      </div>

      <h2 class="text-lg font-semibold text-blue-ocean">
        Wubba Lubba Dub Dub! Po$&%$#
      </h2>
    </div>
    <div class="w-full justify-centerflex">
      <img
        class="logo max-w-72 m-auto md:max-w-96"
        src="https://i.imgur.com/eeWoZIl.png"
        alt="diasdedev.imgur"
      />
    </div>
  </div>
  <app-character
    [caracters]="charactersState.charactersAll()"
    [unity]="unityCharacters()"
  />
  <app-localization
    [localization]="localizationState.localizationsAll()"
    [unity]="unityLocalizations()"
  />
</section>
